@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-image: url('https://source.unsplash.com/1600x900/?norway');
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  overflow: hidden;

}
.main {
  background-color: rgba(31, 27, 27, 0.8);
  border-radius: 24px;
  color: white;
  width: 100%;
  max-width: 410px;
  padding: 1rem;

}